.mobile-map-root {
  position: relative;
  width: 100vw;
  height: calc(100vh - 80px);
  overflow: hidden;
  background: #000;
}

.mobile-map-inner {
  position: absolute;
  top: 0;
  left: 0;
  touch-action: none;
  will-change: transform;
}

.mobile-plan-image {
  width: auto;
  height: 100%;
  display: block;
}
.mobile-hotspot {
  position: absolute;
  padding: 6px 6px;
  font-size: 12px;
  font-weight: 700;
  color: #411600;
  background: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease;
  min-width: 20px;
  z-index: 1;
}